<div class="bg-[#34495e] text-white flex justify-between px-10 py-10 relative">
<div class="flex gap-14">

  <div class="flex flex-col gap-2">

    <p class="text-2xl">About</p>
    <a href="">OurStory</a>
    <a href="">Synapse</a>
    <a href="">University Pathways</a>
    <a href="">Become an instructor</a>
    <a href="">Careers</a>
    <a href="">Contact Us</a>
    <p class="mt-4 text-2xl">More</p>
    <a href="">On demand</a>
    <a href="">Calendar</a>
    <a href="">Presenters</a>
    <a href="">Catalog</a>
  </div>


  <div class="flex flex-col gap-2">
    <p class="text-2xl">Resources</p>
    <a href="">Privacy Policy</a>
    <a href="">Cookie Policy</a>
    <a href="">GDPR</a>
    <a href="">Terms of services</a>
    <a href="">Schedule</a>
    <a href="">Webinars</a>
    <a href="">Events</a>
    <a href="">@2020 Edudex</a>
    <p class="mt-4 text-2xl">Learn on the Go</p>
<div class="flex gap-2">
<div class="w-44 h-14 flex items-center justify-center bg-black gap-2 rounded">
  <i class="fa-brands fa-google-play text-3xl"></i>
  <p class="text-lg">Google Play</p>
</div>

<div class="w-44 h-14 flex items-center justify-center bg-black gap-2 rounded">
  <i class="fa-brands fa-apple text-3xl"></i>
  <p class="text-lg">Google Play</p>
</div>

</div>
  </div>

  <div class="flex flex-col gap-2">
    <p class="text-2xl">Students and alumni</p>
    <a href="">Academic Policies</a>
    <a href="">Examination & amp; Grades</a>
    <a href="">Edudex Network Benefits</a>
    <a href="">Participate Speaks</a>
  </div>
  <p class="absolute bottom-2 right-1/3">Copyright @ edubex 2020</p>

</div>
<div class="flex flex-col justify-evenly">
  <img src="https://www.edubex.com/assets/images/logo_white.svg" class="w-40">

     <div class="flex gap-2">
      <i class="fa-brands fa-instagram"></i>
      <i class="fa-brands fa-facebook"></i>
      <i class="fa-brands fa-twitter"></i>
      <i class="fa-brands fa-whatsapp"></i>
     </div>
     <p>Sign up to receive exclusive updates on courses and events</p>
     <div class="w-fit h-fit bg-white p-1 flex -mt-16">
     <input type="text" class="h-10 pl-2" placeholder="email">
     <button class="w-fit h-fit px-4 py-2 bg-green-700">Sign Up</button>
    </div>

    </div>
</div>
