<div class="heroSection">
  <div
    class="h-[35rem] bg-hero-pattern bg-no-repeat bg-cover bg-left -scale-x-100 relative flex justify-end"
  >
    <div
      class="w-1/2 h-full bg-gradient-to-r from-green-800 to-transparent -scale-x-100"
    >
      <div
        class="text-white font-sans absolute top-36 left-36 flex flex-col gap-3"
      >
        <p class="font-bold text-4xl">Career</p>
        <p class="w-[46rem]">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde numquam
          provident magni, fugiat dignissimos sapiente molestiae impedit ipsum
          eius recusandae ullam nobis labore esse autem laboriosam nesciunt
          aliquid corporis odit!
        </p>
      </div>
    </div>
  </div>

  <div class="flex px-24 py-16 relative">
    <div class="flex-1">
      <div
        class="h-96 w-[55rem] bg-white shadow-lg border absolute top-24 left-80 flex flex-col gap-3 p-10 z-20"
      >
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat
          omnis nulla blanditiis accusamus atque quod voluptatum eligendi ipsam
          dolore mollitia?
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis
          voluptates necessitatibus deserunt provident fuga ipsam sint explicabo
          cumque sapiente, omnis dolor ipsa non. Quasi sapiente consequatur
          harum doloremque voluptas explicabo.
        </p>
        <button
          class="w-fit h-fit px-8 py-4 bg-orange-600 text-white rounded mt-8"
        >
          Job Openings
        </button>
      </div>
    </div>
    <img
      src="https://images.unsplash.com/photo-1507207908229-c59ddb730e40?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDF8fGNvbGxlZ2UlMjBzdHVkZW50fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
      class="h-[28rem] border"
    />
  </div>

  <div class="w-fit h-fit bg-white flex items-center gap-16 px-28">
    <img
      src="https://images.unsplash.com/photo-1520207588543-1e545b20c19e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzV8fGNvbGxlZ2UlMjBzdHVkZW50fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
    />
    <div>
      <h2 class="text-3xl text-gray-700 mb-2">Why Work with Us</h2>
      <p class="w-12 border-2 border-orange-600 mb-5"></p>
      <ul class="flex flex-col gap-3 text-gray-700 list-disc">
        <li class="inset-1">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque enim
          fugiat officiis suscipit dolorum sint laudantium dicta sed eveniet a,
          aperiam, magnam aspernatur at nostrum!
        </li>
        <li>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque enim
          fugiat officiis suscipit dolorum sint laudantium dicta sed eveniet a,
          aperiam, magnam aspernatur at nostrum!
        </li>
        <li>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque enim
          fugiat officiis suscipit dolorum sint laudantium dicta sed eveniet a,
          aperiam, magnam aspernatur at nostrum!
        </li>
      </ul>
    </div>
  </div>
<div class="px-28 py-10 relative">
  <div class="bg-slate-800 text-white h-[30rem] px-10 py-24">
    <h1 class="text-5xl">Perks and Benefits</h1>
    <p class="w-14 border-2 border-orange-600 mt-2 mb-6"></p>
    <p class="w-[60rem] text-lg mt-10">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae, in sequi,
      enim exercitationem tempora nulla quisquam ad voluptate perspiciatis fuga
      unde optio fugit architecto eligendi porro maxime magnam rem officiis.
    </p>
    <div class="bg-white w-96 px-6 py-3 rounded-lg shadow absolute -bottom-2 right-36 z-30">
      <p class="text-green-800">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed explicabo
        nihil sunt temporibus natus, ea eligendi dolorum voluptates aliquam
        magni recusandae quas.
      </p>
    </div>
  </div>
  </div>



  <div class="px-28 h-fit mt-8">
    <div class="bg-pink-50 h-full px-32 py-12">
      <div class="flex flex-col justify-center items-center">
        <h1 class="text-4xl text-gray-600 mt-16">Career Opportunities</h1>
        <span class="w-14 border-2 border-orange-600 mt-2 mb-4"></span>
           <ul class="flex gap-8">
            <li class="hover:border-b-2 hover:border-green-600 hover:text-green-600 cursor-pointer px-6">All</li>
            <li class="hover:border-b-2 hover:border-green-600 hover:text-green-600 cursor-pointer px-6">Africa</li>
            <li class="hover:border-b-2 hover:border-green-600 hover:text-green-600 cursor-pointer px-6">America</li>
            <li class="hover:border-b-2 hover:border-green-600 hover:text-green-600 cursor-pointer px-6">India</li>
            <li class="hover:border-b-2 hover:border-green-600 hover:text-green-600 cursor-pointer px-6">London</li>
            <li class="hover:border-b-2 hover:border-green-600 hover:text-green-600 cursor-pointer px-6">UAE</li>
           </ul>
      </div>

      <div class="w-full h-fit bg-white mt-10 border shadow text-gray-600">
        <div class="w-full flex justify-between px-10 py-4 border-b items-end">
          <div class="flex flex-col gap-2">
            <p class="text-3xl text-gray-700">Marketing</p>
            <p class="text-gray-700">Specilialist Content and Communications</p>
          </div>
          <p>New Youk</p>
        </div>
        <h1 class="w-full text-2xl px-10 mt-3 mb-3">Education (Full-Time)</h1>
        <div class="flex justify-between px-10 py-4">
          <div>
             <ul>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem ipsum dolor sit.</li>
             </ul>
          </div>
          <div>
            <ul>
              <li>Lorem ipsum </li>
              <li>Lorem ipsum </li>
              <li>Lorem ipsum </li>
              <li>Lorem ipsum </li>
              <li>Lorem ipsum </li>
              <li>Lorem ipsum </li>
              <li>Lorem ipsum </li>
              <li>Lorem ipsum </li>
              <li>Lorem ipsum </li>
              <li>Lorem ipsum </li>
              <li>Lorem ipsum </li>
             </ul>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>
