<div class="h-16 flex items-center justify-between px-10">
  <div class="w-fit h-16 flex items-center">
    <img
      src="https://custpostimages.s3.ap-south-1.amazonaws.com/12471/1661161365159.jpg"
      class="w-12"
    />
    <p class="text-2xl font-bold text-green-700">EDUBEX</p>
  </div>

  <div class="flex gap-2">
    <select
      name="Programs"
      class="bg-transparent px-4 hover:border-b-4 hover:border-orange-600"
    >
      <option value="Programs">Programs</option>
    </select>

    <select
      name="Enterprise"
      class="bg-transparent px-4 hover:border-b-4 hover:border-orange-600"
    >
      <option value="Enterprise">Enterprise</option>
    </select>

    <select
      name="Upcoming Events"
      class="bg-transparent px-4 mr-6 hover:border-b-4 hover:border-orange-600"
    >
      <option value="Upcoming Events">Upcoming Events</option>
    </select>

    <button class="w-fit h-fit px-6 py-3 bg-orange-600 rounded">
      Get Started
    </button>
  </div>
</div>
