<div
class="h-[35rem] bg-hero-pattern1 bg-no-repeat bg-cover bg-right -scale-x-100 relative flex justify-end"
>
<div
  class="w-1/2 h-full bg-gradient-to-r from-green-800 to-transparent -scale-x-100"
>
  <div
    class="text-white font-sans absolute top-40 left-36 flex flex-col gap-3"
  >
    <p class="font-bold text-4xl">Job Details</p>
    <p class="w-[46rem]">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde numquam
      provident magni, fugiat dignissimos sapiente molestiae impedit ipsum
      eius recusandae ullam nobis labore esse autem laboriosam nesciunt
      aliquid corporis odit!
    </p>
    <p class="text-2xl text-orange-700 mt-5">LoadMore --------></p>
  </div>
</div>
</div>


<div class="px-10">
<img src="https://www.edubex.com/assets/images/logo_main.svg" class="py-5">
<div class="pb-10">
  <h1 class="text-4xl text-gray-600">Specilist, Content and Communication</h1>
  <p class="text-gray-700">Edubex,Thiruvananthapuram,Kerala,India</p>
</div>


<div class="flex">

  <div class="h-fit bg-slate-100 flex-[2] border-l p-10">


    <h2 class="text-2xl font-medium text-gray-700 mb-2">Specilist, Content and communication</h2>
    <p class="mb-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi provident corporis nisi alias autem, Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas odio maxime eveniet eos accusamus assumenda rerum pariatur libero, quisquam voluptates fuga aliquam ullam et exercitationem dolores eligendi aliquid. Quia, ullam?</p>


    <h2 class="text-2xl font-medium text-gray-700 mb-2">Responsibilities</h2>

    <ul class="list-square px-6 py-2" *ngFor="let item of [1,2,3,4,5,6,7,8,9,10,11]" >

      <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat quidem quia voluptatem at officiis labore, exercitationem ipsam enim molestiae dolorum, reprehenderit eaque culpa consectetur neque illo suscipit cumque incidunt optio.</li>
    </ul>

    <h2 class="mb-4 mt-4">The successfull candidate will have</h2>

    <ul class="list-square px-6 py-1" *ngFor="let item of [1,2,3,4,5,6,7,8,9]" >

      <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat quidem quia voluptatem at officiis labore.</li>
    </ul>

    <h2 class="mb-4 mt-4">Benefits and Perks</h2>

    <ul class="list-square px-6 py-1" *ngFor="let item of [1,2,3,4,5,6,]" >

      <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
    </ul>

    <h2 class="mb-4 mt-4">About Edubex</h2>
    <p class="mb-4 mt-4">Edubex is the fastest growing online education platform specialized in delivering Shorts term courses, Webinars, Online events and University pathway programs for student and working professionals across the wrold.Our programs stand out with its meticulously designed course structure, content and easy to follow presentions.</p>
    <p class="mb-4 mt-4">Bonus: Have you been to a compus or jooined and online learning opportunity ? We are actively seeking individulas that believe in lifelong learning and that have taken part inour on Campus or Online offerings.</p>
    <p class="mb-4 mt-4">NOTE: Only those applicants under consideration willbe contacted. Please accept our utmost appreciation for your interst.</p>
    <p class="mt-4">Edubex is committed to maintaing a diverse work environment and is proud to be an equal oportunity employer. All Qualifed applicants, regardless of racee, color, religon, gender gender identity or expressionn, sexual orientation, national origin, genetics,disability, age, or veteran status will receive consideration for employment. If you have any accessibility requirements or concerns regarding the hiring process or employment with us, please notify us so we can provide suitable accommodation.</p>


  </div>

  <div class="h-fit bg-blue-100 flex-[1]">





  </div>



</div>



</div>
